<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="join.JoinMapper">
    <insert id="insertUser" parameterType="join.UserVO">
        INSERT INTO users (u_id, id, password, address, email, num)
        VALUES (user_id_seq.NEXTVAL, #{id}, #{password}, #{address}, #{email}, #{num})
    </insert>
</mapper>
